@import "../../assets/AppStyles/variables.scss";

.me-post-layout {
  background-color: $body-bg;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  .me-post-children {
    flex-grow: 1;
    width: 100%;

    .me-post-container {
      max-width: 1240px;
      margin: auto;
      padding-bottom: 40px;

      .me-post-menu {
        border-bottom: 1px solid $gray-300;
        padding: 10px 0;
        margin-bottom: 40px;

        .me-post-title {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 30px;

          h1 {
            margin-right: 20px
          }

          a {
            @include button-black;
            transform: translate(0, 0);
            box-shadow: none;

            &:hover {
              box-shadow: $small-shadow;
              transform: translate(-2px, -2px);
            }
          }
        }

        .me-post-navbar {
          ul {
            display: flex;
            gap: 16px;
            font-weight: 500;

            li {
              a {
                padding-bottom: 10px;

                &:hover {
                  color: $primary-normal;
                }
              }

              .active {
                color: $primary-normal;
                border-bottom: 1px solid $primary-normal;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .me-post-layout {
    .me-post-children {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 450px) {
  .me-post-layout {
    .me-post-children {
      padding: 0 12px;
    }
  }
}