@import "variables";

@font-face {
  font-family: "Quicksand";
  font-weight: 500;
  src: local("Quicksand"), url(./fonts/Quicksand-Bold.ttf) format("truetype");
  src: local("Quicksand"), url(./fonts/Quicksand-Light.ttf) format("truetype");
  src: local("Quicksand"), url(./fonts/Quicksand-Medium.ttf) format("truetype");
  src: local("Quicksand"), url(./fonts/Quicksand-Regular.ttf) format("truetype");
  src: local("Quicksand"),
    url(./fonts/Quicksand-SemiBold.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

*::selection {
  background-color: $text-selection;
  color: white;
}

input::placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

input {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $text-title;
  transition: all 0.4s ease;
}

li {
  list-style: none;
}

.grid-container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-title;
}
