@import "../../assets/AppStyles/variables.scss";

.no-header-layout {
  background-color: $body-bg;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  .no-header-children {
    flex-grow: 1;
  }
}

@media screen and (max-width: 1240px) {
  .no-header-layout {
    .no-header-children {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 450px) {
  .no-header-layout {
    .no-header-children {
      padding: 0 12px;
    }
  }
}
