.video-item-skeleton {
  padding: 16px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .video {
    width: 365px;
    height: 225px;
    border-radius: 4px;
    margin-bottom: 16px;
  }

  .title {
    width: 365px;
    height: 28px;
    margin-bottom: 8px;
    border-radius: 4px;

    &:last-child{
      width: 250px;
    }
  }
}
