@import "../../../../assets/AppStyles/variables.scss";

.change-password-content {
  padding: 20px;
  .input-content {
    h3 {
      margin-bottom: 20px
    }
    .input-container {
      margin-top: 20px;
      label {
        @include label-input;
        .form-control-input {
          display: block;
          margin-top: 4px;
          position: relative;

          .input {
            @include input;
            margin-bottom: 4px;

            &:focus {
              box-shadow: $box-shadow-input;
            }
          }

          .btn-show-password {
            position: absolute;
            top: 12px;
            right: 10px;

            svg {
              color: $gray-600;
            }
          }

          .error-text {
            @include error-text;

            &.note {
              color: $gray-500;
            }
          }
        }
      }
    }
  }

  .btn-container {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    .btn {
      @include button-black;
      padding: 8px 24px;
      min-width: 100px;

      &.btn-cancel {
        background-color: white;
        color: $gray-700;
      }
    }
  }
}
