@import "../../../../assets/AppStyles/variables.scss";

.change-avatar-container {
  padding: 20px;

  h3 {
    margin-bottom: 30px;
  }
  .change-avatar-content {
    display: flex;
    align-items: center;
    gap: 16px;

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border: 1px solid $gray-900;
    }

    .btn-list {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      flex-direction: column;

      .btn {
        @include button-black;
        padding: 8px 24px;
        background-color: white;

        &.btn-replace {
          color: $primary-normal;
        }

        &.btn-delete {
          color: $error-500;
        }
      }

      .image-input {
        display: none;
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .btn-container {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    .btn {
      @include button-black;
      padding: 8px 24px;
      min-width: 100px;

      &.btn-cancel {
        background-color: white;
        color: $gray-700;
      }
    }
  }
}
