@import "../../../assets/AppStyles/variables.scss";

.profile-post-item-skeleton {
  border-radius: 16px;
  background-color: white;
  padding: 20px 20px;
  margin-bottom: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .profile-post-item-content {
    display: flex;
    gap: 20px;

    .img-skeleton {
      width: 350px;
      height: 350px;
      border-radius: 10px;
    }

    .profile-post-info {
      width: 80%;

      .title {
        width: 100%;
        height: 28px;
        border-radius: 4px;
        margin-bottom: 8px;
      }

      .interact {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 16px;
        margin-bottom: 16px;

        .interact-item {
          display: flex;
          align-items: center;
          gap: 8px;

          .left {
            width: 40px;
            height: 24px;
            border-radius: 4px;
          }

          .right {
            width: 100px;
            height: 24px;
            border-radius: 4px;
          }
        }
      }

      .author {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
        .avt {
          width: 42px;
          height: 42px;
          border-radius: 50%;
        }

        .name {
          width: 150px;
          height: 28px;
          border-radius: 4px;
        }
      }

      .summary {
        .text {
          width: 100%;
          height: 24px;
          border-radius: 4px;
          margin-bottom: 6px;

          &:last-child {
            width: 70%;
          }
        }
      }

      .tags {
        display: flex;
        gap: 10px;
        margin-top: 16px;
        margin-bottom: 16px;

        .item-tag {
          width: 100px;
          height: 32px;
          border-radius: 500px;
        }
      }

      .read-more-btn {
        display: flex;
        align-items: center;
        margin-top: 16px;
        gap: 8px;
        justify-content: space-between;

        .btn-skeleton {
          width: 150px;
          height: 40px;
          border-radius: 500px;
        }

        .btn-right {
          display: flex;
          align-items: center;
          gap: 8px;

          .btn-right-skeleton {
            width: 50px;
            height: 40px;
            border-radius: 500px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .profile-post-item-skeleton {
    padding: 8px 16px;
    margin-bottom: 30px;

    .profile-post-item-content {
      display: flex;
      gap: 20px;
      flex-direction: column;

      .img-skeleton {
        width: 100%;
        height: 225px;
      }

      .profile-post-info {
        width: 100%;

        .title {
          width: 100%;
          height: 28px;
          border-radius: 4px;
          margin-bottom: 8px;
        }

        .interact {
          .interact-item {
            &:nth-child(odd) {
              display: none;
            }
          }
        }

        .summary {
          .text {
            &:last-child {
              display: none;
            }
          }
        }

        .tags {
          display: none;
        }
      }
    }
  }
}
