@import "../../assets/AppStyles/variables.scss";

.forgot-form-container {
  padding: 40px 60px;
  text-align: center;
  max-width: 500px;

  .close {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
  }

  .header-forgot {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .error-text {
      @include error-text;
      font-size: 16px;
      margin-top: 8px;
    }

    img {
      width: auto;
      height: 60px;
      object-fit: cover;
      display: block;
      margin-bottom: 10px;
    }

    p {
      margin-top: 10px;
    }
  }

  .input-container {
    label {
      @include label-input;

      .form-control-input {
        display: block;
        margin-top: 10px;

        span {
          text-align: start;
        }

        .input {
          @include input;
          margin-bottom: 10px;

          &:focus {
            box-shadow: $box-shadow-input;
          }
        }
        .error-text {
          @include error-text;
        }
      }
    }
  }

  .btn-forgot {
    a {
      display: block;
    }

    .forgot {
      @include button-black;
      margin: 20px 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      &.error-disable[disabled] {
        @include button-disable;

        &:hover {
          @include button-disable-hover;
        }
      }

      &:hover {
        @include button-black-hover;
      }
    }

    .login {
      @include button-no-color;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(0px, 0px);
      box-shadow: none;
      margin-bottom: 20px;

      &:hover {
        transform: translate(-2px, -2px);
        box-shadow: $small-shadow;
      }
    }
  }
}

.forgot-success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  gap: 20px;
  text-align: center;
  padding: 40px 60px;

  .close {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
  }

  .icon-check-success {
    color: $success-400;
    width: auto;
    height: 80px;
  }

  h2 {
    color: $success-400;
  }

  h4 {
    font-weight: 500;
  }

  .login {
    @include button-no-color;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0px, 0px);
    box-shadow: none;
    margin-bottom: 20px;
    width: 100%;

    &:hover {
      transform: translate(-2px, -2px);
      box-shadow: $small-shadow;
    }
  }
}
