@import "../../../assets/AppStyles/variables.scss";
.favorite-container {
  .favorite-content {
    .blog-item {
      border-radius: 16px;
      border: 1px solid $border-color;
      background-color: white;
      overflow: hidden;
      padding: 20px 20px;
      margin-bottom: 40px;

      .blog-item-content {
        display: flex;
        gap: 20px;

        a {
          img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
            border: 1px solid $border-color;
            transition: all 0.3s $transition-bezier;
          }

          &:hover img {
            box-shadow: $medium-shadow;
            transform: translate(-4px, -4px);
          }
        }

        .blog-post-info {
          .title {
            h2 {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              text-overflow: ellipsis;
              transition: 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
              @include background-hover;
            }

            &:hover h2 {
              @include tag-a-hover;
              color: $primary-normal;
              background-size: 100% $primary-normal;
            }
          }

          .interact {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            margin-top: 8px;
            margin-bottom: 10px;

            .interact-item {
              display: flex;
              align-items: center;
              gap: 8px;

              .icon {
                color: $primary-normal;
              }
            }
          }

          .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 16px;

            .item-tag {
              @include button-black;
              font-size: 14px;
              font-weight: 500;
              background-color: white;
              color: $text-title;
              padding: 8px 16px;
              text-transform: uppercase;

              &:hover {
                @include button-black-hover;
              }

              span {
                font-weight: 600;
              }
            }

            @include tag-number;
          }

          .read-more-btn {
            display: flex;
            align-items: center;
            margin-top: 16px;
            gap: 8px;

            a {
              @include button-no-color;
              padding: 8px 16px;

              .arrow {
                vertical-align: middle;
                margin-left: 8px;
              }

              &:hover {
                @include button-black-hover;
              }
            }
          }
        }
      }
    }
    .see-more {
      display: flex;
      justify-content: center;

      .btn-see-more {
        min-width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include button-no-color;
        transform: translate(0, 0);
        box-shadow: none;

        &:hover {
          @include button-black-hover;
        }

        .arrow {
          vertical-align: middle;
          margin-left: 6px;
        }
      }
    }
  }
}
